header {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #000;
  background-color: #a1dce8;
  color: #000;
}

.navigation ul{
  margin: 0;
  padding-left: 0;
}

.navigation li {
  list-style-type: none;
}

.navigation a {
  margin-left: 10px;
  display: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}

.navigation li:hover{
  background-color:#ff0;
  color: #1e00ff;
}

.open a{
  display: block;
}

#menu::before {
  content: "≡";
}

#menu.open::before {
  content: "❌";
}

.head1 {
  display: flex;
  place-items: center;
}

.head1 h1 {
  width: 60%;
  flex-wrap: wrap;
  font-size: 20px;
}

.head1 img {
  border: 1px solid #999;
}

.head2 {
  position: absolute;
  display: flex;
  place-items: center;
  /* margin-right: 10px; */
  justify-content: end;
  right: 10px;
  top: 41px;
}

.head2 button {
  width: 30px;
  height: 25px;
  margin-right: 5px;
}

.head2 img{
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

footer {
  background-color: #a1dce8;
}

.address {
  margin: 10px;
  width: 70%;
}

.address h4 {
  font-size: 20px;
}

.address h2{
  font: 20px;
}

.address p{
  font-size: 20px;
}

.socialmedia {
  text-align: center;
}

.socialmedia ul{
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100%;
}

.socialmedia li{
  list-style-type: none;
}

.socialmedia img {
  width: 70px;
  margin: 10px;
}

.myCourse {
  margin: 10px;
}

.myCourse p, span{
  font-size: 20px;
}

#card {
  text-align: center;
}

#card h2{
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 0;
  background-color: #80bcea;
  color: #000;
  padding: 5px;
}

#card section{
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px #555;
  background-color: #eee;
}

#view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

#grid, #list {
  font-size: 30px;
  width: 100px;
  height: 50px;
  margin: 10px;
  box-shadow: 5px 5px 10px #000;
}

#listCard div{
  display: flex;
  flex-wrap: wrap;
  background-color: #ddd;
  margin: 5px;
  text-align: center;
}

#listCard h2, #listCard p{
  font-size: 15px;
  text-align: center;
  height: 100%;
  margin: 10px;
}

/* ---------FORM DESIGN-------- */

form {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 1fr;
  background-color: #eee;
}

.memberInfo {
  display: grid;
  width: 95%;
  margin: 10px;
}

label {
  font-size: 18px;
  margin-top: 20px;
}

#firstname, #lastname, #orgtitle, #useremail, #phone, #memberLevel {
  font-size: 20px;
}

select, input, textarea {
  padding-left: 10px;
  height: 40px;
  border-radius: 5px;
}

.submitButton {
  text-align: center;
  width: 100%;
}

#submission {
  background-color: #ea8f89;
  color: #000;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  width: 250px;
}

.membership {
  width: 100%;
  display: grid;
  text-align: center;
  justify-content: center;
}

.membership h3 {
  font-size: 25px;
  margin: 50px auto 5px;
}

.memberCard {
  border: 1px solid #000;
  background-color: #ff0;
  border-radius: 0 15px 0 15px;
  width: 96%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  font-size: 20px;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

.memberCard:nth-child(1) {
  animation-delay: 0.1s;
}

.memberCard:nth-child(2) {
  animation-delay: 0.3s;
}

.memberCard:nth-child(3) {
  animation-delay: 0.5s;
}

.memberCard:nth-child(4) {
  animation-delay: 0.7s;
}


@keyframes fadeUp {
  from{
    opacity: 0;
    transform: translateY(20px);
    background-color: red;
  }

  to {
    opacity: 1;
    transform: translateY(0);
    background-color: #ff0;
  }
}
/* #openButton {
  background-color: aqua;
} */

#myModal {
  background-color: lavender;
}

#closeButton {
  background-color: violet;
}

::backdrop {
  background-color: #ff800080;
}

/* ---------FORM DESIGN-------- */

/* Designing the place card */
#visitMessage {
  margin: 0 auto;
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  width: 94%;
  border: 1px solid #000;
}

#cardplaces{
  display: grid;
}

#cardplaces div {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ddd;
  border: 1px solid #333;
  margin: 10px;
  width: 95%;
  border-radius: 10px;
  overflow: hidden;

  grid-template-areas: 
  "name"
  "photo"
  "address"
  "description";
}

#cardplaces h2 {
  text-align: center;

  grid-area: name;
}

#cardplaces img {
  width: 300px;
  box-shadow: 5px 5px 10px #222;
  margin: 0 auto;

  grid-area: photo;
}

#cardplaces address {
  text-align: left;
  margin: 5px 20px;

  grid-area: address;
}

#cardplaces p {
  text-align: left;
  margin:5px 20px;
  width: 94%;

  grid-area: description;
}

/* Designing the place card */